{%extends 'posts_app/base.html' %}
{% load static %}
{%block content%}

    <h1>Users List</h1>
        <ul>
        {% for user in users %}
        
                <li class="item">
                <div class="users">
                <div>
                {% if user.sex == 'M' %}
                <img src="{% static 'assets/male.jpeg' %}" alt="male" width="300" height="300">
                {%else%}
                <img src="{% static 'assets/female.jpg' %}" alt="female" width="300" height="300">
                {% endif %}
                </div>
                <div>
                    <h2>{{user.username}}</h2> 
                    <br>
                    <h3> <span>Joined at : </span> {{ user.date_joined}}</h3>
                    <h3> <span>Total Posts :  </span>{{user.user_posts.count}}</h3>
                </div>
                <a class="user-details" href="{% url 'user-details' user.username %}">Check {{user.username}} profile</a>
                </div>  
                </li> 
                {% endfor %}
         
        </ul>
        
        

{% endblock %}