name: Random Posts CI/CD

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: random_posts
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Make migrations
        run: |
          python random_posts/manage.py makemigrations --check --noinput
      - name: Apply Migrations
        run: |
          python random_posts/manage.py migrate

      - name: Collect the static files
        run: |
          python random_posts/manage.py collectstatic --noinput

      - name: Run Custom Commands
        run: |
          python random_posts/manage.py generate_fake_data

      - name: Run Unit Tests
        run: |
          python random_posts/manage.py test tests


